@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
                
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* shared styles */

body{
    margin: 0;
}

.display-flex{
    display: flex;
}

.text-color-small{
    color: rgba(255, 255, 255, 0.5);;
}

.description-small{
    font-size: 0.875rem;
    line-height: 24;
    letter-spacing: 0.3px;
}

.dark-mode{
    background-color: black;
}

.btn-primary{
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
    padding: 1rem 2.5rem;
    color: #ffffff;
    font-size: 1.125rem;
    /* font-weight: 600; */
}

.btn-secondary{
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 42px;
    padding: 1rem 2.5rem;
    color: #ffffff;
    font-size: 1.125rem;
    /* font-weight: 600; */
}

.margin-right{
    margin-right: 14px;
}

.center{
    text-align: center;
}

.normal-title{
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    margin: 0 0 14px 0;
}
/* header styles */

.header{
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 1), rgba(119, 119, 119, 0), rgba(17, 17, 17, 1));
    margin: 0 0 100px 0;
    /* padding: 30px 200px 0 200px; */
}

.navbar{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2.25rem;
    font-weight: 900;
    color: #E6533C;
    letter-spacing: 2px;
}

.nav-menu{
    gap: 47px;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1); /*might need to change the border 1px*/
    border-radius: 39px;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-menu-item a{
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
}


.nav-menu-item{
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

#home{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
}

#about{
    padding-right: 16px;
}

#check{
    display: none;
}

.hamburger-menu{
    display: none;
    cursor: pointer;
}

.lines{
    width: 24px;
    background-color: white;
    height: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
}

.banner{
    width: 80%;
    gap: 70px;
    margin: 0 auto;
}

.banner-title{
    font-size: 4.5rem;
    color: #ffffff;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0;
    margin: 0;
}

#shape{
    font-family: 'Miama', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

.banner-description{
    font-size: 1rem;
    /* line-height: 24; */
    letter-spacing: 0.5px;
    margin: 28px 0 28px 0;
}

.banner-buttons{
    gap: 14px;
}

.workout{
    position: absolute;
    top: 250px;
    right: 150px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 0.8125rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(20px);
    padding: 16px 24px;
}

#five-hundred{
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 800;
    line-height: 2.5rem;
}

.tutorial{
    position: absolute;
    right: 450px;
    top: 525px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    font-size: 1rem;
    color: rgba(239, 237, 232, 0.65);
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
    text-align: left;
    backdrop-filter: blur(20px);
    padding: 16px 30px;
}

#three-hundred-fifty{
    font-size: 1.5rem;
    font-weight: 800;
    color: rgba(250, 250, 249, 1);
    letter-spacing: 0.01875rem;
}

.banner-profile-pic{
  height: 100%;
}

/* change your habits styles */

.change-habit{
    width: 75%;
    margin: 0 auto;
}

.change-habit-description{
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0 0 50px 0;
}

.card-container{
    justify-content: center;
    gap: 40px;
}

.card{
    padding-right: 25px;
    padding-left: 25px;
}

.card-title{
    font-size: 1.125rem;
    font-weight: 600;
    color: #ffffff;
    margin: 30px 0 6px 0;
}

.card-description{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 18px;
    letter-spacing: 0.3px;
    margin: 0;
}

.card-image{
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}

/* run extra miles styles */

.run-extra{
    width: 75%;
    margin: 100px auto;
    gap: 150px;
    align-items: center;
    border: none;
    border-radius: 18px;
    background-color: #222222;
    padding: 30px 32px 28px 50px;
}

.run-extra-description{
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0 0 34px 0;
}

.run-extra-image{
    width: 83%;
    height: 19.5rem;
    overflow: hidden;
    border-radius: 18px;
}

.run-extra-image img{
    transform: scale(0.8) translate(-892px, -302px);;
}

/* BMI calculator styles */

.BMI-calculator-intro{
    width: 55%;
    margin: 0 auto;
}

.BMI-calculator-description{
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0 0 85px 0;
}

.BMI-calculator-body{
    width: 100%;
    background-color: #222222;
    gap: 170px;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 52px;
}

.BMI-chart-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: #ffffff;
    margin: 0 0 50px 0;
}

.calculate-BMI-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: #ffffff;
    margin: 0 0 14px 0;
}

.calculate-BMI-description{
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0 0 34px 0;
}

table{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

th{
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 18px;
    text-align: left;
}

td{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 18px;
}

input{
    color: rgba(255, 255, 255, 0.6);;
}

select{
    color: rgba(255, 255, 255, 0.4);
}

input,select{
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    border: none;
    border-radius: 8px;
}

option{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    background-color: #222222;
}

.BMI-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

#activity{
    grid-column: span 2;
}

#calculate{
    margin-top: 34px;
    padding: 16px 40px;
}

/* meet our team styles */

.meet-our-team{
    width: 85%;
    margin: 80px auto;
}

.meet-our-team-description{
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0 0 58px 0;
}

.our-team-featured{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 272px 272px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 20px;
    border: none;
    border-radius: 18px;
}

/* .trainer[background-image]{
    width: 100%;
} */

.trainer-name{
    /* position: absolute; */
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    margin: 212px 0 3px 18px;
}

.designation{
    font-size: 0.875rem;
    margin: 0px 0 16px 18px;
}

.trainer{
    /* width: 60%; */
    border: none;
    border-radius: 18px;
    overflow: hidden;
}

#trainer1{
    background-image: url(../images/trainer1.png);
    background-position-y: top;
}

#trainer2{
    background-image: url(../images/trainer2.png);
    background-position: center;
}

#trainer3{
    background-image: url(../images/trainer3.png);
    background-position: center;
}

#trainer4{
    background-image: url(../images/trainer4.png);
    background-position: center;
}

#trainer5{
    background-image: url(../images/trainer5.png);
    background-position: center;
}

#trainer6{
    background-image: url(../images/trainer6.png);
    background-position: center;
}

#trainer1,
#trainer2,
#trainer3,
#trainer4,
#trainer5,
#trainer6{
    background-repeat: no-repeat;
    background-size: cover;
}

/* responsive designs */

/* mobile devices */

@media screen and (max-width:576px){
   .nav-menu{
    display: none;
   }

   .hamburger-menu{
    display: block;
   }
   
   #check:checked ~ .nav-menu{
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* background: transparent;
    border: none; */
    position: absolute;
    gap: 4px;
    top: 2.5rem;
    right: 1rem;
    border-radius: 0;
   }

   .banner{
    height: 124vh;
    overflow:hidden;
    flex-direction: column;
}

   .banner,
   .navbar{
    width: 95%;
   }

   .banner-title{
    font-size: 2.25rem;
   }

   .banner-buttons{
    justify-content: center;
   }

   .btn-primary,
   .btn-secondary{
    padding: 1rem 1.3rem;
   }

   .workout{
    padding: 12px 18px;
    border-radius: 9px;
    top: 550px;
    right: 10px;
    font-size: 0.6rem;
   }

   #five-hundred{
    font-size: 1.8rem;
   }

   .tutorial{
    right: 187px;
    top: 708px;
    }

    .card-container{
        flex-direction: column;
        justify-items: center;
    }

    .run-extra{
        flex-direction: column;
        gap: 30px;
        padding: 30px;
    }

    #run-extra-title,
    #BMI-title{
        font-size: 2rem;
    }
    
    .run-extra-image{
        width: 100%;
        height: 100%;
    }

    .run-extra-image img{
        width: 100%;
        transform: scale(1.5) translate(20px,30px);
    }

    #join-btn{
        width: 100%;
    }

    .BMI-calculator-intro{
        width: 90%;
    }

    .BMI-calculator-body{
        flex-direction: column;
        gap: 40px;
    }

    .BMI-chart,
    .calculate-BMI{
       padding-left: 20px;
       padding-right: 20px;
    }

    .BMI-chart-title{
        margin-bottom: 20px;
    }

    .BMI-chart-title,
    .calculate-BMI-title{
        font-size: 1rem;
    }

    .BMI-form{
        grid-template-columns: 47% 47%;
    }

    .meet-our-team{
        width: 90%;
    }

    .our-team-featured{
        grid-template-columns: 1fr;
        grid-template-rows: 270px 270px 270px 270px 270px 270px;
    }

}

  